<style>
    .cards{
        opacity: 0;
        transform: translate(0, -40px);
    }
    .cards.muncul{
        opacity: 1;
        transform: translate(0, 0);
    }
    #heading{
        opacity: 0;
    }
</style>

<div class="page-heading">
    <h3>Dashboard</h3>
</div>
<div class="page-content">
    <section class="row">
        <div class="col-12 col-lg-12">
            <div class="row">
                <div class="cards col-6 col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body px-3 py-4-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon purple">
                                        <i class="iconly-boldShow"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <a href="?p=barang">
                                        <h6 class="text-muted font-semibold">Total Barang</h6>
                                        <h6 class="font-extrabold mb-0" id="numberTotaBarang">0</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cards col-6 col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body px-3 py-4-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon blue">
                                        <i class="iconly-boldProfile"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <a href="?p=kategori">
                                        <h6 class="text-muted font-semibold">Total Kategori</h6>
                                        <h6 class="font-extrabold mb-0" id="numberKategori">0</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cards col-6 col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body px-3 py-4-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon green">
                                        <i class="iconly-boldAdd-User"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <a href="?p=satuan">
                                        <h6 class="text-muted font-semibold">Total Satuan</h6>
                                        <h6 class="font-extrabold mb-0" id="numberSatuan">0</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cards col-6 col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body px-3 py-4-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon red">
                                        <i class="iconly-boldBookmark"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <a href="?p=merk">
                                        <h6 class="text-muted font-semibold">Total Merk</h6>
                                        <h6 class="font-extrabold mb-0" id="numberMerk">0</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Landing page -->
<style>
    #landing{
        z-index: 999999999999;
    }
    .modal-popup{
        display: none;
    }
</style>
<div class="loading flex justify-content-center align-center w-[100%] h-[100%] absolute z-999999999999 inset-0 bg-[#fff] py-10" id="landing">
</div>

<!-- pop up box -->
<div class="modal-popup text-[#1B1B29] bg-[#1b1b2980] fixed inset-0 z-50 flex-row justify-content-center items-center">
    <div class="w-[350px] h-[9rem] bg-[#fff] rounded-[.5rem] flex flex-col items-center" id="box">
        <span class="messege font-semibold text-center text-sm md:text-sm lg:text-md mt-[2.5rem] capitalize">apakah anda yakin ingin logout ?</span>
        <div class="confirm flex items-center mt-[3rem] mb-5 ml-[12rem]">
            <a href="#" class="font-semibold text-xs md:text-sm lg:text-md mx-[1rem]" id="confirmErr">Tidak</a>
            <a href="../logout.php" class="confirmScs font-semibold text-xs md:text-sm lg:text-md mx-[1rem]">Ya</a>
        </div>
    </div>
</div>
<!-- end of pop up box -->