        </div>
    </div>
    
    <script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    
    <!-- <script src="assets/vendors/apexcharts/apexcharts.js"></script> -->
    <script src="assets/js/pages/dashboard.js"></script>

    <script src="assets/vendors/jquery/jquery.min.js"></script>
    <script src="assets/vendors/jquery-datatables/jquery.dataTables.min.js"></script>
    <script src="assets/vendors/jquery-datatables/custom.jquery.dataTables.bootstrap5.min.js"></script>
    <script src="assets/vendors/fontawesome/all.min.js"></script>
    
    
    <script>
        $(".hBack").on("click", function(e){
            e.preventDefault();
            window.history.back();
        });
    </script>

    <script>
        // Jquery Datatable
        let jquery_datatable = $("#table1").DataTable()
    </script>

    <script src="assets/js/mazer.js"></script>

    <!-- Dark Mode -->
    <script src="assets/js/app.js"></script>

    <!-- My JS -->
    <script src="functions/js/jquery.js"></script>
    <script src="functions/js/barang/Barang.js"></script>
    <script src="functions/js/kategori/kategori.js"></script>
    <script src="functions/js/satuan/satuan.js"></script>
    <script src="functions/js/merk/merk.js"></script>
    <script src="functions/js/vendor/vendor.js"></script>
    <script src="functions/js/ruangan/ruangan.js"></script>
    <script src="functions/js/dashboard/dashboard.js"></script>

</body>

</html>